*.iml
.gradle/
local.properties
/local.properties

# Android Studio & IntelliJ
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/deploymentTargetDropDown.xml
.idea/androidTestResultsUserPreferences.xml
.idea/shelf/

# Build outputs
build/
/build
/*/build
app/build/
captures/
.externalNativeBuild
.cxx

# Binaries & packages
*.apk
*.ap_
*.aab
*.dex
*.class

# Signing keys
*.jks
*.keystore

# OS & Logs
.DS_Store
Thumbs.db
